<div class="container">
  <div class="card-deck mb-3 text-center">
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Join the best meeting aap</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">Get started for FREE</h1>
        <p>Securely connect, collaborate, and celebrate from anywhere. With Tinder Meet,
           everyone can safely create and join high-quality video meetings for groups.
           Meet safely - video meetings are encrypted in transit and our array of safety
           measures are continuously updated for added protection.</p>
      </div>
    </div>
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Sign Up Today</h4>
      </div>
      <div class="card-body">




      </div>
    </div>
  </div>
</div>
