<div class="d-flex justify-content-between flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <h5 class="my-0 mr-md-auto font-weight-normal">Tinder Clone App</h5>
  <div class="d-flex justify-content-end align-item-center">
  <nav class="my-2 my-md-0 mr-md-3">
    <a class="p-3 text-dark" style="line-height: 35px" href="#">Features</a>
    <a class="p-3 text-dark" style="line-height: 35px" href="#">Enterprise</a>
    <a class="p-3 text-dark" style="line-height: 35px" href="#">Support</a>
    <a class="p-3 text-dark" style="line-height: 35px" href="#">Pricing</a>
  </nav>
  <a class="btn btn-outline-primary" href="#">Sign up</a>
  </div>
</div>

